{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Littleship</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1 id="titulo">Projeto Littleship: Uma organização <s>fingindo ser</s> altamente profissional.</h1>
    <h2>Nossa missão:</h2>
    <p>Ajudar E.T.s, fornecendo softwares para se divertirem.</p>
    <h2>Coisas para testar</h2>
    <a href="/topicos/sortear/">Nosso sorteador de tópicos.</a>
    <p><b>Em breve:</b> Laboratório AZL&S</p>
</body>
</html>